.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 300ms ease;
}


.switchers {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
}

.langSwitcher {
    margin-left: 20px;
}

.collapsedBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
}


.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        width: 100%;
        flex-direction: column;
    }
    
    .langSwitcher {
        margin-left: 0;
    }
}