.app_blue_theme {
    --bg-color: #1E6F9F;
    --inverted-bg-color: #F4F4FB;
    --primary-color:  #04003a;
    --secondary-color: #049604;
    --inverted-primary-color:  #27129b;
    --inverted-secondary-color: #041c65;

    // skeleton
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --skeleton-color: #fff;

    // code block
    --code-bg: #fff;

    // card
    --card-bg: #1E6F9F;
}
